.KAtitu {display: none;} .fa_like_div {display: none;} .KApostbody {width:-webkit-fill-available; margin: 0px;} .KApost {background: linear-gradient(180deg, #000000 60%, var(--tbckg));} 


.dominio-portada {margin-top: -25px; position: relative; display: inline-block; } 
.dominio-portada img {width: 979px; height: 400px; object-fit: cover; filter: grayscale(1) contrast(2.9) contrast(0.2);} 
.dominio-portada::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgb(0 0 0 / 80%) 10%, black 100%); pointer-events: none;} 
.dominio-portada2 { position: relative; display: inline-block; } 
.dominio-portada2 img {width: 979px; height: 400px; object-fit: cover; filter: grayscale(1) contrast(2.9) contrast(0.2);} 
.dominio-portada2::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to top, rgb(0 0 0 / 80%) 10%, black 100%); pointer-events: none;} 
.dominio-datos {display: flex; flex-direction: column; align-items: center; position: absolute; margin: -350px 0px; width: 979px; font: bold 40px 'Playfair Display'; color: var(--groups);} 
.dominio-datos strong {letter-spacing: 3px; font-size: 10px; text-transform: uppercase; padding: 20px 100px; background: var(--dbckg2); clip-path: polygon(0% 50%, 10% 20%, 90% 20%, 100% 50%, 90% 80%, 10% 80%);}
.dominio-datos u {letter-spacing: 5px; font-size: 10px; text-decoration: auto; color: var(--dbckg6);} 
.dominio-lvl {width: 200px; display: flex; justify-content: center; align-items: center; flex-direction: column; font: 70px 'UnifrakturMaguntia'; z-index: 1;} 
.dominio-lvl i {font-size: 15px; color: var(--dbckg4);}
.dominio-texto {margin: auto; width: 750px; height: 400px; overflow: auto; padding-right: 30px;} 
.dominio-capitulo {text-align: center; text-transform: uppercase; font: bold 16px 'Playfair Display'; border-bottom: 1px solid var(--groups); width: fit-content; margin: auto; padding-bottom: 10px;} 


/* ESCUDO */ 
.escudo {display: flex; width: 150px; height: 170px; background: var(--dbckg1); clip-path: polygon(50% 0%, 100% 10%, 90% 70%, 50% 100%, 10% 70%, 0% 10%); justify-content: center; align-items: center;} 
.escudo i {color: var(--groups); font-size: 70px;} 


/* RECURSOS*/ 
.dominio-ficha {display: flex; align-items: center; position: absolute; margin-top: -400px; font: 11px 'Playfair Display'; letter-spacing: 1px; line-height: 20px;} 
.alianzas {display: flex; width: 500px; margin-left: 50px; flex-direction: column; align-items: center; text-align: center; line-height: 20px; text-transform: uppercase;} 
.alianzas i {font-size: 100px; color: var(--groups);} 
.recursos {display: flex; flex-wrap: wrap; justify-content: center;} 
.recurso {display: flex; width: 100px; margin: 15px; justify-content: center; align-items: center; flex-direction: column;} 
.recurso strong {color: black; position: absolute; margin-top: 60px; font: 10px 'Alegreya Sans SC'; text-transform: lowercase;} 
.recurso i {font-size: 40px; color: var(--groups);} 


/* TERRITORIO*/ 
.dominio-terreno {position: absolute; display: flex; width: 979px; height: 150px; margin-top: -75px; background: var(--dbckg2);} 
.territorio {display: flex; width: 480px; font: 11px 'Playfair Display'; letter-spacing: 1px; flex-direction: column; align-items: center; justify-content: center;} 
.territorio strong {font-size: 20px;} 
.dominio-terreno img { width: 300px; height: 150px; object-fit: cover; filter: grayscale(1) contrast(1.5) contrast(0.7) brightness(0.3);} 
.tri {position: absolute; margin: -63px 46px; width: 110px; height: 130px; background: var(--dbckg1); clip-path: polygon(50% 0%, 100% 10%, 90% 70%, 50% 100%, 10% 70%, 0% 10%); z-index: 0;} 


/* BARRA DE PROGRESO*/ progress { border: none; width: 100%; height: 15px; animation: prog 2s linear; } ::-webkit-progress-bar-value {background-color: red;} ::-webkit-progress-value {background-color: var(--groups)} ::-moz-progress-bar {background-color: yellow;} @keyframes prog { 0% {width: 0%; background-color: blue;} 100% {width: 100% color: pink;} } 


.kkoth {width: 979px; text-align: center; margin-top: 90px; font: 9px 'Playfair Display'; letter-spacing: 5px; color: var(--dbckg5);}
